@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 99vh;
  width: 99vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
}

.container,
#interactive.viewport {
  width: 400px;
  height: 300px;
}

#interactive.viewport canvas,
video {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
  width: 400px;
  height: 300px;
}
